<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="REMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <REMS.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value>This is a test!</value>
      </setting>
      <setting name="TableBL" serializeAs="String">
        <value>0,300</value>
      </setting>
      <setting name="TableTR" serializeAs="String">
        <value>300,0</value>
      </setting>
      <setting name="nsXYStepSize" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="motorXTravelDistance" serializeAs="String">
        <value>500</value>
      </setting>
      <setting name="motorYTravelDistance" serializeAs="String">
        <value>762</value>
      </setting>
      <setting name="motorZTravelDistance" serializeAs="String">
        <value>304.8</value>
      </setting>
      <setting name="heatMapOpacity" serializeAs="String">
        <value>50</value>
      </setting>
      <setting name="nsZStepSize" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="nsZMin" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="nsZMax" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SAEMinFreq" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="SAEMaxFreq" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="MotorCommPort" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SAConnectionString" serializeAs="String">
        <value>USB0::2391::65519::cn0743a182::0::INSTR</value>
      </setting>
      <setting name="BaseLine" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ScanMode" serializeAs="String">
        <value>EFIELD</value>
      </setting>
      <setting name="ProbeNum" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SAHMinFreq" serializeAs="String">
        <value>6.6</value>
      </setting>
      <setting name="SAHMaxFreq" serializeAs="String">
        <value>7</value>
      </setting>
      <setting name="ProbeOffset" serializeAs="String">
        <value>0</value>
      </setting>
    </REMS.Properties.Settings>
  </userSettings>
</configuration>
