<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="REMS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <REMS.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>This is a test!</value>
            </setting>
            <setting name="TableBL" serializeAs="String">
                <value>0,300</value>
            </setting>
            <setting name="TableTR" serializeAs="String">
                <value>300,0</value>
            </setting>
            <setting name="nsXStepSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="nsYStepSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="motorXTravelDistance" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="motorYTravelDistance" serializeAs="String">
                <value>762</value>
            </setting>
            <setting name="motorZTravelDistance" serializeAs="String">
                <value>304.8</value>
            </setting>
            <setting name="heatMapOpacity" serializeAs="String">
                <value>50</value>
            </setting>
        </REMS.Properties.Settings>
    </userSettings>
</configuration>